.container {
    display: flex;
    margin: 20px;
    background: #dfffff;
    border: black 1px solid;
}
.triggers{
    flex: 1;
}
.views{
    flex: 3;
}
.trigger{
    border: black 1px solid;
    margin: 5px;
    padding: 5px;
    background: white;
}
.view{
    border: black 1px solid;
    margin: 25px;
    padding: 25px;
    background: white;
}
